* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: "Montserrat";
}

header {
    height: 800px;
    background: rgb(225, 255, 143);
    position: relative;
}

.heading {
    padding-top: 196px;
    padding-bottom: 448px;
    background-image: url('./img/star1.png'), url('./img/star2.png'), url('./img/star3.png');
    background-position: 63px 69px, 100% 0, calc(100% - 344px) calc(100% - 149px);
    background-repeat: no-repeat;
}

.wrapper {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.heading__title{
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    width: 768px;
    margin-bottom: 24px;
}

.text{
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}

.heading__text{
    max-width: 720px;
    margin-bottom: 48px;
}

a{
    text-decoration: none;
}

.but{
    box-sizing: border-box;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    background: black;
    color: white;  
    width: 247px;
    height: 66px;   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 141.69%;
    cursor: pointer;
    font-family: inherit;
}

.but:hover{
    background: rgb(254, 254, 254); 
    color: black;
}

.about{
    background: rgb(32, 32, 39);
    padding-bottom: 50px;
    background-image: url('./img/star4.png');
    background-position: 100% 0;
    background-repeat: no-repeat;
}

.title{
    padding-top: 94px;
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    color: white;
}

.about__text{
    max-width: 788px;
    color: white;
    margin-top: 24px;
    margin-bottom: 72px;
}

.about__games{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
}

.about-game{
    border-radius: 30px;
    background-color: white;
    max-width: 378px;
    display: block;
    transition: transform 0.3s ease;
}

.about-game:hover{
    transform: scale(1.05);
}

.about-game__description{
    padding: 32px 32px 36px 32px;
}

.about-game__number{
    border-radius: 52.58px;
    background: rgb(247, 247, 247);
    width: 108px;
    height: 36px;
    color: black;
    font-size: 16px;
    font-weight: 500;
    line-height: 110%;
    padding: 8px 16px 10px 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.about-game__name{
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    color: black;
    margin-top: 16px;
}

.scroll-container {
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    background: rgba(188, 236, 48, 1);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
}

.scroll-content {
    margin: 0;
    display: inline-block;
    white-space: nowrap;
    animation: scrollAnimation 20s linear infinite;
    line-height: 80px;
}

.scroll-item {
    display: inline-block;
    margin: 0 20px; 
    background: rgba(188, 236, 48, 1);
    color: rgba(32, 32, 39, 1); 
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: middle;
}

.scroll-content img {
    vertical-align: middle;
    margin: 0 20px;
}

@keyframes scrollAnimation {
    0% {
        transform: translateX(0); 
    }
    100% {
        transform: translateX(-50%);
    }
}

.mini-games{
    background: rgb(32, 32, 39);
    padding-bottom: 144px;
    background-image: url('./img/star5.png'), url('./img/star6.png');
    background-position: calc(100% - 45px) 93px, calc(100% - 93px) calc(100% - 45px);
    background-repeat: no-repeat;
}

.mini-games__title{
    padding-top: 46px;
    margin-bottom: 72px;
}

.mini-games__block{
    gap: 32px;
    display: grid;
}	

.game{
    border-radius: 30px;
    background-color: white; 
}
.game__content{
    display: flex;
    height: 500px;
}

.game:nth-child(odd) .game__content{
    flex-direction: row-reverse;
}

picture img {
    height: 100%;
    width: 100%;
}

.game__description{
    padding: 48px 48px;
    flex-grow: 1;
}

.game__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    color: black;
    margin-bottom: 24px;
}

.game__text{
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 36px;
    max-width: 457px;
    color: black;
}

footer {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
    height: 150px;
    background: #BCEC30;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
}

@import 'gamemobile';